USE [master]
GO
/****** Object:  Database [QuanLyNet]    Script Date: 1/08/2021 2:47:28 AM ******/
CREATE DATABASE [QuanLyNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNet]
GO
/****** Object:  Table [dbo].[QuanLyHoaDon]    Script Date: 1/08/2021 2:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyHoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[ThanhTien] [int] NULL,
	[MaMay] [nvarchar](50) NULL,
	[SoGio] [time](7) NULL,
	[Ngay] [date] NULL,
	[TK] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuanLyHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyMay]    Script Date: 1/08/2021 2:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyMay](
	[MaMay] [nvarchar](50) NOT NULL,
	[Ngay] [date] NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[TongGio] [time](7) NULL,
	[TK] [nvarchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanLyTK]    Script Date: 1/08/2021 2:47:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLyTK](
	[TK] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](50) NOT NULL,
	[LoaiTK] [bit] NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[SDT] [nvarchar](12) NULL,
 CONSTRAINT [PK_QuanLyTK] PRIMARY KEY CLUSTERED 
(
	[TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QuanLyTK] ([TK], [MK], [LoaiTK], [Hoten], [SDT]) VALUES (N'admin', N'123', 1, NULL, NULL)
GO
ALTER TABLE [dbo].[QuanLyHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyHoaDon_QuanLyMay] FOREIGN KEY([MaMay])
REFERENCES [dbo].[QuanLyMay] ([MaMay])
GO
ALTER TABLE [dbo].[QuanLyHoaDon] CHECK CONSTRAINT [FK_QuanLyHoaDon_QuanLyMay]
GO
ALTER TABLE [dbo].[QuanLyHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyHoaDon_QuanLyTK] FOREIGN KEY([TK])
REFERENCES [dbo].[QuanLyTK] ([TK])
GO
ALTER TABLE [dbo].[QuanLyHoaDon] CHECK CONSTRAINT [FK_QuanLyHoaDon_QuanLyTK]
GO
ALTER TABLE [dbo].[QuanLyMay]  WITH CHECK ADD  CONSTRAINT [FK_QuanLyMay_QuanLyTK] FOREIGN KEY([TK])
REFERENCES [dbo].[QuanLyTK] ([TK])
GO
ALTER TABLE [dbo].[QuanLyMay] CHECK CONSTRAINT [FK_QuanLyMay_QuanLyTK]
GO
USE [master]
GO
